@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

.mc-curso-disciplinas > div:last-child {
  border: 0!important;
}

button:disabled {
  opacity: 0.5!important;
}